@using System.Web.Mvc.Html
@using BookDb.DAL
@using BookDb.Infrastructure.Helpers
<script type="text/ng-template" id="books.html">

    <h1>Books <a class="btn btn-default" ui-sref="^.bookcreate"><i class="glyphicon glyphicon-plus"></i></a></h1>
    
    <div class="btn-group btn-group-xs role=" group" aria-label="sorting">
        <a href="" class="btn btn-default" ui-sref="^.books({s: null})" ui-sref-active="active" title="Sort by Book Title">Title</a>
        <a href="" class="btn btn-default" ui-sref="^.books({s: 'p'})" ui-sref-active="active" title="Sort by Publish Date from Most Newer">Date</a>
    </div>
    

    <div ng-repeat="i in items" class="book">
        <a href="" ui-sref="^.bookdetails({id: i.id})">
            <img ng-if="i.image" class="book-cover" ng-src="{{i.image}}">
        </a>
        <a href="" ui-sref="^.bookdetails({id: i.id})">{{i.title}}</a>
        <small ng-if="i.published"> &mdash; {{i.published | apiDate: 'LL'}} </small>
    </div>

    <div loader loader-if="isLoading"></div>

    <p ng-if="items.length == 0 && !isLoading"><i>There are no books.</i></p>

</script>

<script type="text/ng-template" id="books.details.html">

    <p><a href="" class="btn btn-default btn-lg" ui-sref="^.books">Back</a></p>
    <p>&nbsp;</p>

    <h1>Books Details</h1>

    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="update(itemForm, item)">
            
            <button class="btn btn-default btn-sm" ng-disabled="isLoading" ngf-select ngf-change="uploadImage($files)" ngf-accept="'image/jpeg,image/png,image/gif'">
                <span ng-if="!item.image">Upload Image</span>
                <span ng-if="item.image">Upload Another Image</span>
            </button>
            <p>&nbsp;</p>

            <div ng-if="item.image">
                <img ng-src="{{item.image}}" style="max-width: 100%;" />
                <p>&nbsp;</p>
            </div>

            <div class="form-group">
                <label for="title">@Html.DisplayNameFor(x => new Book().Title)</label>
                <input type="text" class="form-control" id="title" placeholder="Title" maxlength="30" ng-model="item.title" @Html.RequiredFor(x => new Book().Title) />
            </div>
            
            <div class="form-group">
                <label for="authors">@Html.DisplayNameFor(x => new Book().Authors) (<a href="" ui-sref="app.authorcreate">Add</a>)</label>
                <ui-select multiple="true" ng-model="item.authors" theme="bootstrap" ng-disabled="disabled" class="text-left">
                    <ui-select-match placeholder="Select author...">{{$item.lastName}} {{$item.firstName}}</ui-select-match>
                    <ui-select-choices repeat="author in authors | propsFilter: {lastName: $select.search, firstName: $select.search}">
                        {{author.lastName}} {{author.firstName}}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group">
                <label for="pages">@Html.DisplayNameFor(x => new Book().Pages)</label>
                <input type="number" class="form-control" id="pages" step="1" min="1" max="10000" placeholder="Pages" ng-model="item.pages" @Html.RequiredFor(x => new Book().Pages) />
            </div>

            <div class="form-group">
                <label for="publisher">@Html.DisplayNameFor(x => new Book().Publisher)</label>
                <input type="text" class="form-control" id="publisher" placeholder="Publisher" maxlength="30" ng-model="item.publisher" @Html.RequiredFor(x => new Book().Publisher) />
            </div>

            <div class="form-group">
                <label for="published">@Html.DisplayNameFor(x => new Book().Published)</label>
                <input type="date" class="form-control" id="published" placeholder="Published Date" min="1800-01-01" ng-model="item.publishedDate" @Html.RequiredFor(x => new Book().Published) />
            </div>
            
            <div class="form-group">
                <label for="isbn">@Html.DisplayNameFor(x => new Book().Isbn)</label>
                <input type="text" class="form-control" id="isbn" placeholder="978-1-449-35573-9" ng-model="item.isbn" validate-isbn @Html.RequiredFor(x => new Book().Isbn) />
            </div>
            
            <p>&nbsp;</p>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading || isLoading || item.authors.length == 0">
                    <span ng-if="item.$isLoading === undefined">Save</span>
                    <span ng-if="item.$isLoading === false">Saved</span>
                    <span ng-if="item.$isLoading === true">Saving...</span>
                </button>
                <a href="#" class="btn btn-default" on-confirm-click confirm-click="delete(item)">Delete</a>
            </div>

        </form>

        <div loader loader-if="!item && isLoading"></div>

    </div>

</script>

<script type="text/ng-template" id="books.create.html">

    <p><a href="" class="btn btn-default btn-lg" ui-sref="^.books">Back</a></p>
    <p>&nbsp;</p>

    <h1>New Book</h1>

    <div class="col-md-8 col-md-offset-2">
        
        <button class="btn btn-default btn-sm" ng-disabled="isLoading" ngf-select ngf-change="uploadImage($files)" ngf-accept="'image/jpeg,image/png,image/gif'">
            <span ng-if="!item.image">Upload Image</span>
            <span ng-if="item.image">Upload Another Image</span>
        </button>
        <p>&nbsp;</p>
        
        <div ng-if="item.image">
            <img ng-src="{{item.image}}" style="max-width: 100%;" />
            <p>&nbsp;</p>
        </div>

        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="create(itemForm, item)">

            <div class="form-group">
                <label for="title">@Html.DisplayNameFor(x => new Book().Title)</label>
                <input type="text" class="form-control" id="title" placeholder="Title" maxlength="30" ng-model="item.title" @Html.RequiredFor(x => new Book().Title) />
            </div>
            
            <div class="form-group">
                <label for="authors">@Html.DisplayNameFor(x => new Book().Authors) (<a href="" ui-sref="app.authorcreate">Add</a>)</label>
                <ui-select multiple="true" ng-model="item.authors" theme="bootstrap" ng-disabled="disabled" class="text-left">
                    <ui-select-match placeholder="Select author...">{{$item.lastName}} {{$item.firstName}}</ui-select-match>
                    <ui-select-choices repeat="author in authors | propsFilter: {lastName: $select.search, firstName: $select.search}">
                        {{author.lastName}} {{author.firstName}}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group">
                <label for="pages">@Html.DisplayNameFor(x => new Book().Pages)</label>
                <input type="number" class="form-control" id="pages" step="1" min="1" max="10000" placeholder="Pages" ng-model="item.pages" @Html.RequiredFor(x => new Book().Pages) />
            </div>

            <div class="form-group">
                <label for="publisher">@Html.DisplayNameFor(x => new Book().Publisher)</label>
                <input type="text" class="form-control" id="publisher" placeholder="Publisher" maxlength="30" ng-model="item.publisher" @Html.RequiredFor(x => new Book().Publisher) />
            </div>

            <div class="form-group">
                <label for="published">@Html.DisplayNameFor(x => new Book().Published)</label>
                <input type="date" class="form-control" id="published" placeholder="Published Date" min="1800-01-01" ng-model="item.published" @Html.RequiredFor(x => new Book().Published) />
            </div>

            <div class="form-group">
                <label for="isbn">@Html.DisplayNameFor(x => new Book().Isbn)</label>
                <input type="text" class="form-control" id="isbn" placeholder="978-1-449-35573-9" ng-model="item.isbn" validate-isbn @Html.RequiredFor(x => new Book().Isbn) />
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading || isLoading || item.authors.length == 0">
                    <span ng-if="item.$isLoading === undefined">Create</span>
                    <span ng-if="item.$isLoading === false">Created</span>
                    <span ng-if="item.$isLoading === true">Creating...</span>
                </button>
            </div>

        </form>

        <div loader loader-if="!item && isLoading"></div>

    </div>

</script>